<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trust.ebikeapp">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7920f5c381fde984ec79b0c4055fa449" />

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.loginorregister.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.loginorregister.RegisterActivity" />
        <activity android:name=".activity.location.CarLocationActivity" />
        <activity android:name=".activity.help.HelpActivity" />
        <activity android:name=".activity.carstatus.CarStatusActivity" />
        <activity android:name=".activity.carhistroy.CarHistroyActivity" />
        <activity android:name=".activity.carhistroy.ChooseTimeActivity" />
        <activity android:name=".activity.alarm.AlarmActivity" />
        <activity android:name=".activity.bind.CarBindActivity" />
        <activity android:name=".activity.changpwd.ChangPwdActivity" />
        <activity android:name=".activity.carhistroy.vehicletrajectory.VehicleTrajectoryActivity"></activity>
    </application>

</manifest>